<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Great Numbers Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='numGame-style.css') }}">
    </head>
    <body>
        <div class="wrapper">
            <h1>Welcome to the Great Numbers Game</h1>
            <p>I am thinking of a number between 1 and 100</p>
            <p>Take a Guess!</p>
            <form action="/guess" method="post">
                <input type="text" name="guess">
                <input type="submit" value="Submit">
            </form>
        </div>        
    </body>
</html>